# Hardware access
RPi.GPIO==0.7.1
smbus2==0.4.1
adafruit-circuitpython-ads1x15
adafruit_ads1x15
adafruit-circuitpython-bh1750

# Web dashboard
flask==2.3.2

# Database
flask-sqlalchemy==3.0.5

# Networking (optional but lightweight)
requests==2.32.0
paho-mqtt==1.6.1

